@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
  scrollbar-width: thin;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: "Montserrat", "Tajawal", sans-serif !important;
  }
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --section: 220, 16%, 96%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 203, 86%, 36%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --radius: 0.5rem;
  }
}

@layer utilities {
  /* Mobile Nav */
  .clip-inset-0 {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .clip-inset-1 {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

/* Accordion overwrite */
.accordion {
  @apply w-full flex flex-col gap-[5px] !important;
}
.accordion-item {
  @apply border-0 !important;
}
.accordion-trigger {
  @apply bg-[#dae6ee] px-2 md:px-4 hover:no-underline !important;
}
.accordion-content {
  @apply p-2 md:p-4 border border-t-0 flex flex-col gap-3 border-[#dae6ee] !important;
}
/* Accordion overwrite */

.section-title {
  @apply text-2xl sm:text-3xl text-primary text-center font-medium uppercase mb-6;
}
.course-title {
  @apply text-2xl font-medium text-center mb-5;
}
.footer-title {
  @apply text-lg text-zinc-50 font-medium uppercase ltr:tracking-widest mb-5;
}
